body {
  background-color: rgb(229, 229, 239);
  color: rgb(51, 51, 51);
}

h1 {
  cursor: pointer;
}

#create,
#commitments {
  display: none;
}

table.commitments th, td {
  padding: 10px;
  text-align: right;
}

td.loading {
  text-align: center;
}

table.specific-commitment td {
  padding: 10px;
  text-align: right;
}

table.specific-commitment td:nth-child(2) {
  text-align: left;
}

label {
  display: block;
  margin-top: 10px;
}
